@font-face {
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
    src: local('☺'),
        url("../fonts/Kaushan+Script_400_normal.woff") format('woff'), 
        url("../fonts/Kaushan+Script_400_normal.ttf") format('truetype'), 
        url("../fonts/Kaushan+Script_400_normal.svg#Kaushan+Script_400_normal") format('svg'); 
  }

body{
    margin-top: 73px !important;
    background-color: #FFF8E1 !important;
}

.text{
    color: #FFFFFF !important;   
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive !important;   
}

    .text, .title{
        text-shadow: 1px 1px 2px #164EC9, 0 0 25px #FFFFFF, 0 0 5px #4DE4FF !important;
        font-size: 80px;
    }
    .title-nav{    
        font-size: 30px !important;
    }

.bg-foodPrimary {
    background-color: #FFC107!important;
}

a {
    text-shadow: 1px 0px 1px rgb(181, 197, 233), 0 0 25px #FFFFFF, 0 0 5px #4DE4FF !important;
    text-decoration: none!important;
}

.navbar-toggler {
    padding: 0.90rem .75rem!important;
}

.shop-text, .color-icon-toogler{
    text-shadow: 1px 1px 2px #164EC9, 0 0 25px #FFFFFF, 0 0 5px #4DE4FF !important;
    color:#FFFFFF !important;
    cursor: pointer;
}

    .shop-text:hover {
        text-shadow: 1px 1px 2px #164EC9, 0 0 25px #FFFFFF, 0 0 5px #4DE4FF !important;
        color:#4DE4FF !important;
        cursor: pointer;
    }

.shop-shadow{
    -webkit-box-shadow: -2px 5px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 5px 20px 0px rgba(0,0,0,0.75);
    box-shadow: -2px 5px 20px 0px rgba(0,0,0,0.75);
}
